html{
  font-size: 10px;
}
body{
  margin: 0;
  height: 100%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: #b8b894;
}
img{
  max-width: 100%;
  display: block;
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: black;
}
